---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Escenarios from "../components/Escenarios.astro";
import Servicios from "../components/Servicios.astro";
import Proceso from "../components/Proceso.astro";
import WhatsAppFloat from "../components/WhatsAppFloat.astro";
import Confianza from "../components/Confianza.astro";
import FAQ from "../components/FAQ.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Escenarios />
    <Servicios />
    <Proceso />
    <Confianza />
    <FAQ />
    <Contacto />
  </main>
  <Footer />
  <WhatsAppFloat />
</Layout>
